
* {
  text-decoration: none;
}

body {
    margin: 0;
    background-image: linear-gradient(180deg, #251a5e 25%, #13161a 75%);
    overflow-y: scroll;
    overflow-x: hidden;   
    
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background: #212429;
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background: #505356;
}

.produtos::-webkit-scrollbar { 
  display: none;  
}
/* end scrollbar */



/* header */
header {
  width: 100%;
  position: absolute;
  top:0;
}

.navdiv {
  height: 40px;
  background-color: #13161a;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  justify-content: space-between;
  display: flex;
}

.logo {
  width: 150px;
}

.ul-nav {
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;  
}

.nav-head-but {
width: 200px;
text-align: center;
align-items: center;
}

.navbut {
  background-color: #53bf86;
  border-radius: 10px;
  border-color: #53bf86;
  border-style: solid;
  margin-top: 10px;
  margin-right: 5px;
  width: 90px;
  height: 30px;
}

.navbut a {
  color: black; font-weight: bold; font-size: 15px;
} 

.cart-div {
  margin-top: 11px;
  margin-left: 7px;
  margin-right: 10px;
  height: 30px;
}
.cart-icon {
  color: #d9dbd9;
  cursor: pointer;
}

/* header usercad */
.user-icon {
  color: #d9dbd9;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #2b2d31;
  border-bottom: 1px solid #505356;
  border-right: 1px solid #505356;
  border-left: 1px solid #505356;
  width: 60px;
  z-index: 1;
  right: 50;
  
}

.drop-content a {
  border-top: 1px solid #505356;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown:hover .drop-content {display: block;}

.drop-content a:hover {background-color: #3f4246;}
/* end header usercad */


/* img-backgorund */
.back-img {
  margin-top: 72px;
  width: 100%;
  height: 375px;
  border-bottom: 1px solid #3f4246; 
  border-top: 1px solid #3f4246; 
}
/* end img-backgorund */

/* search bar */
.search-bar{
  position: static;
  display: flex;
  background-color: #505356; 
  border: 3px solid #2b2d31;
  border-radius: 5px;
  width: 1090px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: 409px;
  margin-top: 20px; 
}

/* filter categories */
.filterContainer {
  text-align: center;
  
}

.filterButton {
  background-color: #2b2d31;
  border: 2px solid #1d1f22;
  border-radius: 10px;
  width: 100px;
  height: 28px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 5px;
  
}

.filterButton:hover {
  background: linear-gradient(180deg, rgba(24,27,32,1) 6%, rgba(43,45,49,1) 50%, rgba(24,27,32,1) 94%);  
}
/* end filter categories */

.s-bar {
  background-color: rgb(230, 230, 239, 0.6);
  border-radius: 5px;
  border: 2px solid #1d1f22;
  width: 340px;
  height: 28px;
  position: relative;   
  padding-left: 10px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

.search-holder {
  position: relative;
  margin-right: 10px; 
}

.search-icon {
  z-index: 1;
  color: black;
  position: absolute;
  margin-left: 310px;
  margin-top: 3px;
}
/* end search bar */



/* layout game row */
.row-produtos::after {
  content: "";
  clear: both;
  display: table;
}
  
.produtos {
  width: 1100px;
  height: 730px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;  
}

.coluna-produto {
  background-color: #2b2d31;
  border: 2px solid #505356;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  padding: 26px;
  display: none;
  margin: 5px;
}

.show {
  display: block;
}

.img-poster {
  width: 300px;
}

.coluna-produto h1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.price-before {
  width: 300px;
  height: 15px;
  margin-top: 2px;
  padding-top: 5px;
  border-top: 1px solid #d9dbd9; 
  text-decoration: line-through;
  color:white; 
  font-weight: bold;
}

.card-price {
  width: 300px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.price {
  color:white; 
  font-weight: bold;
}


.fav-icon {
  margin-top: 13px;
  margin-left: 160px;
  cursor: pointer; 
  transition: color 0.3s ease;
  
}

.fav-icon.filled {
  color: red;
}

.fav-icon.outlined {
  color: #d9dbd9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.add-icon {
  margin-top: 9px;
  color: #d9dbd9;
  cursor: pointer; 
  
}

.add-icons {
  justify-content: space-between;
}

.noprod-span {
  display: none;
  color: whitesmoke;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* end layout end row */

/* footer */
.navfooter {
  background-color: #1d1f22;
  justify-content: center;
  display: flex;
  height: 100px;
}

.foot-text {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
}

.navfot {
  width: 600px;
  height: 70px;
  text-align: center;
}
/* end footer */
