
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
* {
    text-decoration: none;   
    box-sizing: border-box;           
}

body {   
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #251a5e 35%, #13161a 85%);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  }

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgb(80, 83, 86, 0.4);
}

::-webkit-scrollbar-thumb {
  background:  rgb(19, 22, 26, 0.8);
  border-radius: 10px;
}

/* end scrollbar */


/* header sem usuário */

header {
  width: 100%;
  position: relative;
  top:0;
}


.header { 
    background-color: #13161a ;
    display: flex;
    align-items: center;
    justify-content: center;   
    column-gap: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logo {
    width: 150px;
  }

.header-right ul {
  display: flex;
  column-gap: 15px;
  padding: 0;
}

.header-right li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 600;   
    cursor: pointer;
}

.header-right li a{
    color: white;
}

.div-header-but {
  display: flex;
  column-gap: 5px;
  margin-left: 5px;
}

.header-but {
    background-color: #4cbc85;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 100px;
}

.header-but a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.header-but:hover {
  background-color: #7bcc9e;
}

.cart-div {
  height: 30px;
}

.cart-icon {
  font-size: 32px;
  color: #d9dbd9;
  cursor: pointer;
}

.user-icon {
  margin: 5px 0px 5px 0px;
  font-size: 60px;
  color: #d9dbd9;
  cursor: pointer;
}


/* end header sem usuário */

.user-icon {
  width: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  width: 60px;
  z-index: 1;
  right: 50;
  display: none;
  position: absolute;
  background-color: #2b2d31;
  border-bottom: 1px solid #505356;
  border-right: 1px solid #505356;
  border-left: 1px solid #505356;
}

.drop-content a {
  border-top: 1px solid #505356;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown:hover .drop-content {display: block;}

.drop-content a:hover {background-color: #3f4246;}

/* end header user */


/* search bar */

.div-search-all {
  display: inline-block;
  width: 32%;
  height: auto;
  margin: 30px auto 0 auto;
}

.search-bar{
  background-color: #505356; 
  border: 1px solid #2b2d31;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 600px;
  height: 35px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 5px 0 10px;
}

.bars-ul {
  position: relative;
}

.bar-icon {
  cursor: pointer;
  font-size: 20px;
}

.drop-search {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-left: 15px;
  width: 100px;
  background-color: #5e5f61;
  border: 2.5px solid #13161a; 
}

.bars-ul:hover  .drop-search{
  display: block;
}

.drop-search a:hover {background-color: #3f4246;}

.sub-c:hover  .drop-categorias{
  display: block;
}

.drop-search a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  display: block;
}

.drop-categorias {
  display: none;
  background-color: #5e5f61;
  position: absolute;
  z-index: 1;  
  left: 50%; 
}

.drop-categorias a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  padding-left: 25px;
  display: block;
}

.search-holder {
  position: relative;
}

.s-bar {
  position: relative;
  background-color: rgb(230, 230, 239, 0.2);
  border-radius: 5px;
  border: 2px solid #1d1f22;
  width: 250px;
  height: 25px;
  
}

.search-icon {
  font-size: 15px;
  color: white;
  position: absolute;
  margin: 5px 0 0 230px;
}

.s-bar:hover{
  background-color: rgb(230, 230, 239, 0.6);
}

::placeholder {
  color: white;
  font-weight: bold;
  padding-left: 5px;
}

/* end search bar */

/* search produtos container */
.produtos-screenprod {
  width: 350px;
  min-height: 30px;
  max-height: 320px;
  margin: 0 auto 0 auto;
  background-color: #2b2d31;
  border: 1px solid #5e5f61; 
  overflow: hidden;
  z-index: 1;
  position: absolute;
  margin: 0 auto 0 255px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  display: none;
 
}

.noprod-span {
  width: 350px;
  height: 30px;
  display: none;
  text-align: center;
  align-items: center;
}

.noprod-span p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.img-poster-tag {
  width: 130px;
}

.coltag-produto {
  width: 100%;
  height: 80px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.coltag-produto:hover {
  background-color: #5e5f61;
}

.div-gameprice-tag {
  display: inline-block;
  column-gap: 5px;
}

.gamename-tag {
  color: white;
  font-weight: bold;
}

.price-tag {
  color: white;
}


/* end search produtos container */

/* game-box */
.game-box {
  width: 1100px;
  height: 600px;
  margin: 20px auto 0 auto;
}

.row-box {
  display: flex;
  align-content: center;
}

.game-card {
  margin: 10px;
  width: 375px;
  height: 550px;
  border-radius: 5px;
  background-color: #2b2d31;
  border: 1px solid #5e5f61;
  text-align: center;
}


.game-name {
  color: white; 
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 15px;
}

.game-poster {
  width: 300px;
}


.card1 {
  align-content: center;
}

.price-before {
  margin: auto;
  width: 300px;
  height: 15px;
  margin-top: 2px;
  padding-top: 5px;
  border-top: 1px solid #d9dbd9; 
  text-decoration: line-through;
  color:white; 
  font-weight: bold;
  text-align: left;
}

.card-price {
  margin: auto;
  width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.price {
  color:white; 
  font-weight: bold;
}


.fav-icon {
  font-size: 20px;
  margin-top: 13px;
  margin-left: 160px;
  cursor: pointer; 
  transition: color 0.3s ease;
  
}

.fav-icon.filled {
  color: red;
}

.fav-icon.outlined {
  color: #d9dbd9;
}

.add-icon {
  font-size: 30px;
  margin-top: 9px;
  color: #d9dbd9;
  cursor: pointer; 
}

.add-icon:hover {
  transform: scale(1.1);
}

.sinopse-card {
  margin: auto;
  width: 350px;
  height: 200px;
  border: 1px solid #5e5f61; 
  border-radius: 5px;
  background-color: #212429;
}

.game-sinopse {
  color: white;
  font-size: 18px;
  text-align:justify;
  text-align-last:justify;
  text-overflow: ellipsis;
  word-break: keep-all;
  width: 340px;
  padding-left: 3px;
}

.game-class {
  background-color: #5db084; 
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.game-class:hover {
  background-color: #50535661;
}

.trailer-card {
  background-color: #2b2d31;
  border: 1px solid #5e5f61;  
  margin: 10px;
  width: 700px;
  height: 550px;
  border-radius: 5px;
  text-align: center; 
}

.trailer-card h2 {
  width: 600px;
  margin: 15px auto 0 auto;
  border-bottom: 1px solid whitesmoke;
  text-align: left;
  color: white;
}

.trailer-teasers-slide {
  width: 600px;
  height: 340px;
  padding: 0;
  margin: 30px auto 0 auto;
}

.trailer-teasers-slide img {
  width: 600px;
  height: 340px;
}

.trailer {
  position: relative;
}

.teasers-slide {
  width: 600px;
  height: 100px;
  margin: 5px auto 0 auto;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  column-gap: 5px;
  align-items: center;
  border: 1px solid #5e5f61; 
  border-radius: 3px;
  background-color: #212429;
}

.teasers-slide img {
  width: 135px;
  height: 85px;
  cursor: pointer;
}

/* end game-box*/

/* footer */
footer {
  margin-top: auto;
  width: 100%;
  bottom: 0;
  position: relative;
}

.footer {
  background-color: #1d1f22;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  
}

.div-footer {
  width: 600px;
  height: 60px;
  align-self: center;
  text-align: center;
  align-content: center;
}

.fot-icon {
  color: #d9dbd9;
  padding: 5px;
  font-size: 20px;
}

.fot-icon:hover {
  transform: scale(1.5);
}
/* end footer */


