
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
* {
    text-decoration: none;   
    box-sizing: border-box;           
}

body {   
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #251a5e 35%, #13161a 85%);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  }

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(80, 83, 86, 0.4);
}

::-webkit-scrollbar-thumb {
  background:  rgb(19, 22, 26, 0.8);
  border-radius: 10px;
}

/* end scrollbar */


/* header sem usuário */

header {
  width: 100%;
  position: relative;
  top:0;
}


.header { 
    background-color: #13161a ;
    display: flex;
    align-items: center;
    justify-content: center;   
    column-gap: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logo {
    width: 150px;
  }

.header-right ul {
  display: flex;
  column-gap: 15px;
  padding: 0;
}

.header-right li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 600;   
    cursor: pointer;
}

.header-right li a{
    color: white;
}

.div-header-but {
  display: flex;
  column-gap: 5px;
  margin-left: 5px;
}

.header-but {
    background-color: #4cbc85;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 100px;
}

.header-but a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.header-but:hover {
  background-color: #7bcc9e;
}

.cart-div {
  height: 30px;
}

.cart-icon {
  font-size: 32px;
  color: #d9dbd9;
  cursor: pointer;
}

.user-icon {
  margin: 5px 0px 5px 0px;
  font-size: 60px;
  color: #d9dbd9;
  cursor: pointer;
}


/* end header sem usuário */

.user-icon {
  width: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  width: 60px;
  z-index: 1;
  right: 50;
  display: none;
  position: absolute;
  background-color: #2b2d31;
  border-bottom: 1px solid #505356;
  border-right: 1px solid #505356;
  border-left: 1px solid #505356;
}

.drop-content a {
  border-top: 1px solid #505356;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown:hover .drop-content {display: block;}

.drop-content a:hover {background-color: #3f4246;}

/* end header user */


/* search bar */

.div-search-all {
  display: inline-block;
  width: 865px;
  height: auto;
  margin: 30px auto 0 auto;
}

.search-bar{
  /*background-color: #505356;*/
  background-color: #5db084;
  border: 1px solid #2b2d31;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 865px;
  height: 35px;
  margin: 0 auto 0 auto;
  padding: 0 5px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
}

/* barra navegação */
.barra-nav {
  position: relative;
  display: flex;
  column-gap: 15px;
}

.barra-dropdown-div {
  width: auto;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-content: center;
}

.barra-dropdown-div  i{
  color: white;
  font-style: normal;
  font-weight: bold; 
}

.barra-dropdown-div a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  display: block;
}

.barra-dropdown-div a:hover{
  background-color: #5e5f61;
}

.barra-dropdown-div:hover {
  background: linear-gradient(102deg, rgba(204,204,205, 0.3) 56%, rgba(93,176,132,1) 100%);
}

/* sub drop */
.drop-inicio:hover .drop-loja {
  display: block;
}

.sub-c:hover  .drop-categorias{
  display: block;
}

.barra-sub-div {
  display: none;
  border: 1px solid #5e5f61;
  background-color: #2b2d31;
  position: absolute;
  z-index: 1;
  padding: 0; 
  margin: 7px 0 0 0;
  width: 100px;
  height: auto;
}

/* end sub drop */

/* end barra navegação */

.search-holder {
  position: relative;
}

.s-bar {
  position: relative;
  background-color: rgb(120, 122, 125);
  border-radius: 5px;
  border: 2px solid #1d1f22;
  width: 250px;
  height: 25px;
  
}

.search-icon {
  font-size: 15px;
  color: white;
  position: absolute;
  margin: 5px 0 0 230px;
}

.s-bar:hover{
  background-color: rgb(230, 230, 239, 0.6);
}

::placeholder {
  color: white;
  font-weight: bold;
  padding-left: 5px;
}

/* end search bar */

/* search produtos container */
.produtos-screenprod {
  width: 350px;
  min-height: 30px;
  max-height: 320px;
  margin: 0 auto 0 auto;
  background-color: #2b2d31;
  border: 1px solid #5e5f61; 
  overflow: hidden;
  z-index: 1;
  position: absolute;
  margin: 0 auto 0 515px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  display: none;
 
}

.noprod-span {
  width: 350px;
  height: 30px;
  display: none;
  text-align: center;
  align-items: center;
}

.noprod-span p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.img-poster-tag {
  width: 130px;
}

.coltag-produto {
  width: 100%;
  height: 80px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.coltag-produto:hover {
  background-color: #5e5f61;
}

.div-gameprice-tag {
  display: inline-block;
  column-gap: 5px;
}

.gamename-tag {
  color: white;
  font-weight: bold;
}

.price-tag {
  color: white;
}


/* end search produtos container */

/* game-box */

.game-header-name {
  margin: 20px auto -10px auto;
  padding: 0 0 0 10px;
  width: 870px;
  height: auto;
}

h2 {
  color: white;
  margin: 0;
  padding: 0;
}

.game-box {
  width: 870px;
  height: auto;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #2b2d31;
}

.row-box {
  display: flex;
  align-content: center;
}

.game-card {
  margin: 10px;
  width: 355px;
  height: 355px;
  border-radius: 20px;
  background-color: #212429;
  border: 1px solid #5e5f61;
  justify-items: center;
}


.game-name {
  color: white; 
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.game-poster {
  width: 300px;
  border-radius: 10px;
  margin: 15px 0 0 0;
}


.card-price-before {
  width: 300px;
  height: 20px;
  padding: 0;
  margin: 2px 0 0 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
}

.price-before {
  text-decoration: line-through;
  color:whitesmoke; 
  /* color:#505356; */
  font-weight: bold;
  margin: 2px 0 0 0;
  padding: 0;
}

.discount {
  color:white; 
  font-weight: bold;
  background-color: #5db084;
  padding: 2px 5px 0 5px;
  margin: 0;
  border-radius: 5px;
}

.card-price {
  margin: auto;
  width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.price {
  color:white; 
  font-weight: bold;
}


.card-price-icons-div {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.fav-icon {
  font-size: 20px;
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.fav-icon.filled {
  color: red;
}

.fav-icon.outlined {
  color: #d9dbd9;
}

.add-icon {
  font-size: 30px;
  color: #d9dbd9;
  cursor: pointer; 
}

.add-icon:hover {
  transform: scale(1.1);
}


.game-class-edition-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
}

.game-class-div {
  display: flex;
  column-gap: 5px;
}

.game-class {
  background-color: #5db084; 
  width: auto;
  height: auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
}

.game-class:hover {
  background-color: #50535661;
}

.game-card-edition-tag {
  color: #505356;
  font-weight: bold;
}


.trailer-card { 
  margin: 0;
  padding: 0;
  width: 475px;
  height: 380px;
  border-radius: 20px;
  padding: 10px;
}


.trailer-teasers-slide {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 255px;
  border-radius: 15px;
}

.trailer-teasers-slide img {
  width: 450px;
  height: 350px;
}

.trailer {
  position: relative;
  border-radius: 15px;
}

.slide-teasers-container {
  display: flex;
  width: 450px;
  height: 100px;
}

.teasers-slide {
  width: 450px;
  height: 100px;
  padding: 7.5px 2px 7.5px 2px ;
  display: flex;
  column-gap: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
}

.teasers-slide img {
  width: 135px;
  height: 85px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.arrow-icon { 
  font-size: 25px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.left-arrow-div {
  position: relative;
  width: 15px;
  height: 100px;
  margin: 0;
  padding: 40px 0 40px 0;
}

.left-arrow {
  width: 15px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.right-arrow-div {
  position: relative;
  width: 15px;
  height: 100px;
  margin: 0;
  padding: 40px 0 40px 0;
}

.right-arrow {
  width: 15px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* end game-box*/


/* similares box*/

.similares {
  padding: 10px;
  margin: 20px auto 0 auto;
  width: 870px;
  height: 150px;
  border-radius: 10px;
  
}

.similares h3 {
  color: white;
  font-size: 16px;
  margin: 0 0 5px 0;
  padding: 0;
}

.similares-slide {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.similares img {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.similares img:hover {
  transform: scale(1.1);
}


/* end similares box*/

/* game edition box*/
.game-edition-container {
  width: 870px;
  height: 200px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.game-edition-box {
  margin: 0;
  padding: 5px;
  width: 400px;
  height: 150px;
  border-left: 1px solid #c7c8c9; 
}

.game-edition-box h3 {
  color: white;
}

.i-edition-tag {
  color: #5e5f61;
}

.game-edition-price-div{
  width: 200px;
  height: 30px;
  margin: 25px 0 0 0;
  padding: 0 0 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-edition-price {
  color: white;
}

.game-edition-price-div-icons {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
/* end game edition box*/


/* reviews container */
.review-container {
  width: 870px;
  height: 200px;
  background-color: #2b2d31;
  border-radius: 10px;
  margin: 20px auto 50px auto;
  padding: 20px 10px 10px 10px;
}

h4 {
  color: white;
  padding: 0;
  margin: 0 0 15px 0;
}

.editions-reviews-slide {
  width: 845px;
  height: 120px;
  display: flex;
  column-gap: 15px; 
  margin: 0 auto 0 auto;
  padding: 0;
}

.review-box {
  width: 200px;
  height: 120px;
  background-color: #212429; 
  /* background-color: rgb(32, 25, 76, 0.7);*/
  border: 1px solid #5e5f61; 
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

.stars-div {
  display: flex;
  padding: 0;
  margin: 0;
}

.star-icon {
  font-size: 18px;
  color: #4cbc85;
  cursor: pointer;
}

.review-title {
  padding: 0 0 0 3px;
  margin: 0 0 0 0;
  color: white;
}

.review-user {
  width: 178px;
  height: 35px;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  column-gap: 5px; 
}

.review-user-icon {
  color: #c7c8c9;
  font-size: 40px;
}
.review-user-data {
  padding: 0;
  margin: 0;
  width: auto;
  height: 35px;
  align-items: center;
  display: grid;
}

.review-nome {
  color: white;
  font-size: 12px;
  font-style: normal;
}

.review-data {
  color: white;
  font-size: 10px;
  font-style: normal;
}

/* en
d reviews */

.edition-box {
  margin: 10px;
  width: 370px;
  height: 100px;
  border-radius: 5px;
  background-color: #2b2d31;
  border: 1px solid #5e5f61;
}

/* footer */
footer {
  margin-top: auto;
  width: 100%;
  bottom: 0;
  position: relative;
}

.footer {
  background-color: #1d1f22;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  
}

.div-footer {
  width: 600px;
  height: 60px;
  align-self: center;
  text-align: center;
  align-content: center;
}

.fot-icon {
  color: #d9dbd9;
  padding: 5px;
  font-size: 20px;
}

.fot-icon:hover {
  transform: scale(1.5);
}
/* end footer */


