

* {
  text-decoration: none;
  
}

body {
    margin: 0;
    background-image: linear-gradient(180deg, #251a5e 25%, #13161a 75%);
    overflow: auto;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212429;
  border-radius: 5px;
}

/* end scrollbar */



/* header */
.navdiv {
  height: 40px;
  background-image: linear-gradient(#13161a 90%, #251a5e);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.logo {
  width: 150px;
}


li {
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 25px;
  margin-left: 25px;
  justify-content: center;
}

button{
  background-color: #53bf86;
  margin-left: 10px;
  border-radius: 10px;
  border-color: #53bf86;
  border-style: solid;
  padding: 5px;
  width: 90px;


}

button a{
  color: black; font-weight: bold; font-size: 15px;
} 


 
/* end header */



/* header usercad */


.ul-bar {
  margin-left: 1250px;
}

.user-icon {
  width: 40px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #2b2d31;
  width: 100px;
  z-index: 1;
  right: 0;
  
}

.drop-content a {
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown:hover .drop-content {display: block;}

.drop-content a:hover {background-color: #3f4246;}



/* end header usercad */


/* img-backgorund */

.div-backimg {
  margin-top: -5px;
}

.back-img {
  width: 1910px;
  height: 350px;
}

/* end img-backgorund */



/* search bar */


.search-bar{
  display: flex;
  background-color: #3f4246;
  width: 600px;
  height: 30px;
  margin: 0 auto;
  border-radius: 30px;
  border-color: #2b2d31;
  border-style: solid;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  
}


/* ------------------ */

.bar-icon {
  cursor: pointer;
  
}

.bars-ul {
  position: relative;
  left: 20px;
}


.drop-search {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-left: 15px;
  width: 100px;
  background-color: #5e5f61;
  border: 2.5px solid #13161a;
  
}



.bars-ul:hover  .drop-search{
  display: block;
}

.drop-search a:hover {background-color: #3f4246;}


.drop-search:hover  .drop-categorias{
  display: block;
}


.drop-search a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  display: block;

}

.drop-categorias {
  display: none;
}

.drop-categorias a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  padding-left: 25px;
  display: block;

}



/* ------------------ */

.s-bar {
  background: transparent;
  width: 200px;
  height: 28px;
  position: absolute;
  border: 2.5px solid #13161a;
  border-right: 0px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

.search-button:hover {background-color: rgb(43, 45, 49, 0.7);}


.search-button {
  width:30px;
  height: 28px;
  background-color: #2b2d31;
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: #13161a;
  margin-left: 200px;
  position: absolute;
  cursor: pointer;

}


.search-button i {
  position: absolute;
  bottom: 6px;
  right: 8px;
  cursor: pointer;
  
}

.search-holder {
  position: relative;
  right: 232px;
  bottom: 14px;
  
}



/* end search bar */



/* layout game row */

.row-produtos::after {
  content: "";
  clear: both;
  display: table;
  }
  

.produtos {
  width: 1115px;
  height: 730px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #3f4246;
  border-radius: 10px;
  border: 5px solid #2b2d31;
  overflow: auto;
  
 
    
}


.coluna-produto {
  margin: 5px;
  background-color: #2b2d31;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  padding: 27px;
  padding-top: -50px;
  
  
}

.img-poster {
  width: 300px;
}

.img-card {
  width: 40px; 
  height: 40px;
}




.coluna-produto h1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.price-before {
  text-decoration: line-through;
  text-align: left; 
  color:white; 
  font-weight: bold;
  

}

.price {
  position: absolute;
  text-align: left; 
  bottom: 20px;
  color:white; 
  font-weight: bold;
}

.carrinho-button {
position: absolute;
bottom: 20px;
right: -5px;
background: transparent;
border: none;
cursor: pointer;
}

/* end layout end row */


/* footer */


.navfooter {
  position: fixed;
  background-color: #13161a;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  
}

.foot-text {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

/* end footer */