
html {
  height: 100%;
}

*{
  text-decoration: none;
  
  
   
    }

 body {
        background-image: linear-gradient(180deg, #251a5e 25%, #13161a 75%);
        margin: 0;
        
    }






/* header */

header {
  width: 100%;
  position: absolute;
  top:0;
}

.navdiv {
  height: 40px;
  background-image: linear-gradient(#13161a 90%, #251a5e);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.logo {
  width: 150px;
}


li {
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 25px;
  margin-left: 25px;
  justify-content: center;
}

button{
  background-color: #53bf86;
  margin-left: 10px;
  border-radius: 10px;
  border-color: #53bf86;
  border-style: solid;
  padding: 5px;
  width: 90px;


}

button a{
  color: black; font-weight: bold; font-size: 15px;
} 



/* end header */





  
/* login box */



.login-box {
  
  margin:  0 auto;
  margin-top: 150px;
  width: 400px;
  height: 600px;
  border-radius: 5px;
  background-color: #2a2a2a;
  border: 5px solid #2b2d31;
  
  
  
}

.logo-box {
  width: 120px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

h1{
  text-align: center;
  font-size: 30px;
  color:rgb(255, 255, 255); 
  font-family:Arial, Helvetica, sans-serif;
  
}

.login-form {

  text-align: center;
  color:rgb(255, 255, 255);
  padding: 5px;
  margin: auto;
  margin-top: 20px; 
  
}

::placeholder {
  color: black;
}

.input-layout {
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 10px;
  height: 20px;
  width: 200px;
  
}

.label-layout {
  font-size: 16px;
}


.entrarButton{
  background-color: #4dbd82;
  border-radius: 10px;
  border-color: #4dbd82;
  border-style: solid;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
   
}


/* end login box */




/* esqueceu senha box */



.p-esqueceu {
  text-decoration: underline;
  text-align: center;
  color: white;
  cursor: pointer;
}

h2 {
  
  color:rgb(255, 255, 255); 
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 7px;

}

.esq-input {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  margin-left: 5px;
  
}

.sendemail-input {
  background-color: black;
  color: white;
  font-weight: bold;
  background-color: #4dbd82;
  cursor: pointer;
}



.form-popup {
  display: none;
  position: relative;
  border: 5px solid #232323;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: auto;
  
  
}


.esqueceu-form {
  background-color: rgb(28, 28, 28, 0.8);
  width: 300px;
  height: 100px;
  position:absolute;
  
  
  
}



/* end esqueceu senha box */




/* footer */

footer {
  width: 100%;
  position: absolute;
  bottom:0;
}


.navfooter {
  position: sticky;
  background-color: #1d1f22;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;

  
}

.foot-text {
  color: white;
  font-size: 12px;
  font-weight: 600;
  
 
}

.navfot {
  width: 600px;
  height: 40px;
  text-align: center;
}
/* end footer */
