html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  *{
    text-decoration: none;
      
      }
  
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, #251a5e 25%, #13161a 75%);
    overflow-y: auto;
    overflow-x: hidden;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

 /* scrollbar */
 ::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background: #212429;
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background: #505356;
}

.produtos::-webkit-scrollbar { 
  display: none;  
}
/* end scrollbar */

/* header */

header {
    width: 100%;
    position: relative;
    top:0;
  }
  
  .header {
    height: 40px;
    background-color: #13161a;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .header-right {
    justify-content: space-between;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  
  .logo {
    width: 150px;
  }
  
  .header-right ul {
    display: flex;
    column-gap: 20px;
  }
  
  .header-right li {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer; 
  }
  
  .header-right li a {
    color: white;
  }
  
  .div-header-but {
    width: 205px;
    display: flex;
    column-gap: 5px;
    margin-left: 5px;
  }
  
  .header-but {
    background-color: #53bf86;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 30px;
  }
  
  .header-but a {
    color: black; 
    font-weight: bold; 
    font-size: 15px;
  } 
  
  .header-but:hover {
    background-color: #7bcc9e;
  }
  
  .cart-div { 
    height: 30px;
  }
  
  .cart-icon {
    font-size: 32px;
    color: #d9dbd9;
    cursor: pointer;
  }
  
/* header usercad */
.user-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 60px;
  color: #d9dbd9;
  cursor: pointer;
}

.dropdown-user {
  height: 70px;
  position: relative;
  display: inline-block; 
}

.drop-content-user {
  display: none;
  position: absolute;
  background-color: #2b2d31;
  border-bottom: 1px solid #505356;
  border-right: 1px solid #505356;
  border-left: 1px solid #505356;
  width: 60px;
  z-index: 1;
  right: 50;
  
}

.drop-content-user a {
  border-top: 1px solid #505356;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown-user:hover .drop-content-user {display: block;}

.drop-content-user a:hover {background-color: #3f4246;}
/* end header usercad */

/* conteudo */
.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    margin: 0 0 100px 0;
    
}
.coluna-info {
    padding: 20px;
    background-color: rgb(28,21,66, 0.3);
    border-radius: 5px;
    width: 70%;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    justify-content: left;
}
.coluna-info div{
    display: block;
    margin: 20px 20px 0
}
label{
    margin-right: 20px;
}
.nome label, .telefone label {
    display: block;
    margin-bottom: 8px;
}
.cidade select{
    width: 71px;
}

.coluna-produtos {
  font-family: Arial, sans-serif;
    background-color: rgb(28,21,66, 0.3);
    border-radius: 5px;
    padding: 82px;
    margin: 50px;
    width: 980px;
    color: white;
    opacity: 90%;
    align-content: center;
    padding: 82px;
    margin: 50px;
    font-size: 15px;
}
.coluna-produtos-finalizar {
    background-color: rgb(28,21,66, 0.3);
    border-radius: 5px;padding: 20px;
    color: white;
    opacity: 90%;
    align-content: center;
    font-size: 15px;
}


.finalizar {
    margin-top: 90px;
    padding: 10px;
    background-color: #284aa7;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
}
.finalizar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.cartao {
    max-width: 540px;
    margin: 20px 0;
    border-left: 1px solid white;
    padding: 9px;
}

.conteudo-cartao {
    display: flex;
    align-items: center;
}

.imagem-cartao {
    width: 150px;
    height: auto;
    margin-right: 15px;
}

.corpo-cartao {
    padding: 10px;
}

.titulo-cartao {
    margin: 0;
}

.descricao-cartao {
    margin: 5px 0;
}

.preco-anterior {
    text-decoration: line-through;
    color: grey;
}

.preco-atual {
    font-weight: bold;
    color: #d9534f;
}
.cupom {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cupom input{
    padding: 10px;
}
.cupom button{
    padding: 10px;
    background-color: #28a745;
    color: white;
}

/*pagamento */

.img1 img{
    width: 50px;
}
.img2 img, .img3 img{
    width: 110px;
}


/* footer */
footer {
    margin-top: auto;
    width: 100%;
    bottom: 0;
    position: relative;
  }
  
  .footer {
    background-color: #1d1f22;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    
  }
  
  .div-footer {
    width: 600px;
    height: 60px;
    align-self: center;
    text-align: center;
    align-content: center;
  }
  
  .fot-icon {
    color: #d9dbd9;
    padding: 5px;
    font-size: 20px;
  }
  
  .fot-icon:hover {
    transform: scale(1.5);
  }
  /* end footer */
  