
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
* {
    text-decoration: none;   
    box-sizing: border-box;           
}

body {   
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #251a5e 35%, #13161a 85%);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  
  }

/* scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background: #212429;
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background: #505356;
}
/* end scrollbar */


/* header sem usuário */

header {
  width: 100%;
  position: relative;
  top:0;
}


.header { 
    background-color: #13161a ;
    display: flex;
    align-items: center;
    justify-content: center;   
    column-gap: 15px;
    
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logo {
    width: 150px;
  }

.header-right ul {
  display: flex;
  column-gap: 15px;
  padding: 0;
}

.header-right li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 600;   
    cursor: pointer;
}

.header-right li a{
    color: white;
}

.div-header-but {
  display: flex;
  column-gap: 5px;
  margin-left: 5px;
}

.header-but {
    background-color: #4cbc85;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 100px;
}

.header-but a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.header-but:hover {
  background-color: #7bcc9e;
}

.cart-div {
  height: 30px;
}

.cart-icon {
  font-size: 32px;
  color: #d9dbd9;
  cursor: pointer;
}


.user-icon {
  margin: 5px 0px 5px 0px;
  font-size: 60px;
  color: #d9dbd9;
  cursor: pointer;
}


/* end header sem usuário */

.user-icon {
  width: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  width: 60px;
  z-index: 1;
  right: 50;
  display: none;
  position: absolute;
  background-color: #2b2d31;
  border-bottom: 1px solid #505356;
  border-right: 1px solid #505356;
  border-left: 1px solid #505356;
}

.drop-content a {
  border-top: 1px solid #505356;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px;
}

.dropdown:hover .drop-content {display: block;}

.drop-content a:hover {background-color: #3f4246;}

/* end header user */


/* search bar */

.div-search-all {
  display: inline-block;
  width: 865px;
  height: auto;
  margin: 30px auto 0 auto;
}

.search-bar{
  /*background-color: #505356;*/
  background-color: #5db084;
  border: 1px solid #2b2d31;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 865px;
  height: 35px;
  margin: 0 auto 0 auto;
  padding: 0 5px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
}

/* barra navegação */
.barra-nav {
  position: relative;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.barra-nav  i{
  color: #212429;
  font-style: normal;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.dropdown-inicio {
  width: auto;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-content: center;
}

.drop-sub-inicio {
  border: 1px solid #5e5f61;
  background-color: #2b2d31;
  width: fit-content;
  height: fit-content;
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0; 
  margin: 7px 0 0 0; 
}

.drop-sub-inicio-link div{
  width: 100px;
  height: 30px;  
  align-content: center;
  padding: 0 0 0 5px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
}

.drop-sub-inicio-link div:hover {
  background-color: #5e5f61;
}

.dropdown-categorias {
  width: auto;
  height: 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-content: center;
}

.drop-categorias {
  background-color: #2b2d31;
  border: 1px solid #505356;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 10;
  display: none;
  margin: 8px 0 0 0;
  padding: 0;
  position: absolute;
}

.filterButton {
  position: relative;
  background-color: #2b2d31;
  width: 100px;
  height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
  align-content: center;
  text-align: left;
  margin: 0;
  padding: 0 0 0 5px;
}

.filterButton:hover{
  background-color: #5e5f61;
}


.dropdown-inicio:hover .drop-sub-inicio {
  display: block;
}

.dropdown-categorias:hover  .drop-categorias{
  display: grid;
}

/* end barra navegação */

.search-holder {
  position: relative;
  width: 250px;
  height: 25px;
  display: flex;
}

.s-bar {
  position: relative;
  background-color: #e5e5e6;
  border-radius: 5px;
  border: 1.5px solid #1d1f22;
  width: 250px;
  height: 25px;
  padding: 0 22px 0 7px;
  margin: 0;
  color: #212429;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.s-bar:hover{
  background-color: rgb(230, 230, 239, 0.9);
}

::placeholder {
  color: #212429;
  font-size: 11px;
}

.search-but-div {
  padding: 1px 0 0 2.5px;
  margin: 4px 0 0 225px;
  transform: translate(2px, -0.5px);
  width: 20px;
  height: 18px;
  border-left: 1.5px solid #212429;
  cursor: pointer;
  position: absolute;
}


.search-icon {
  font-size: 15px;
  color: #212429;
  font-weight: bold;
}

/* end search bar */

/* search produtos container */
.produtos-screenprod {
  position: absolute;
  display: none;
  overflow: hidden;
  width: 350px;
  min-height: 30px;
  max-height: 320px;
  z-index: 1; 
  padding: 0;
  margin: 0 auto 0 515px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  background-color: #2b2d31;
  border: 1px solid #5e5f61;
}

.noprod-span {
  width: 350px;
  height: 30px;
  display: none;
  margin: 0;
  align-content: center;
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.img-poster-tag {
  width: 130px;
  height: 62px;
}

.coltag-produto {
  width: 100%;
  height: 80px;
  padding: 9px 5px 0 9px;
  cursor: pointer; 
}

.coltag-produto:hover {
  background-color: #5e5f61;
}

.coltag-produto-link-div-a {
  display: flex;
  column-gap: 10px;
}

.div-gameprice-tag {
  width: 190px;
  height: 62px;
  padding: 7px 0 0 0;
  margin: 0;
  display: grid;
  row-gap: 5px;
}

.gamename-tag {
  color: white;
  font-weight: bold;
}

.price-tag {
  color: white;
}


/* end search produtos container */

/* game-box */

.game-header-name {
  margin: 20px auto -10px auto;
  padding: 0 0 0 10px;
  width: 870px;
  height: auto;
}

h2 {
  color: white;
  margin: 0;
  padding: 0;
}

.game-box {
  width: 870px;
  height: auto;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #2b2d31;
  box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.4);
}

.row-box {
  display: flex;
  align-content: center;
}

.game-card {
  margin: 10px;
  width: 355px;
  height: 355px;
  border-radius: 20px;
  background-color: #212429;
  border: 1px solid #5e5f61;
  justify-items: center;
}


.game-name {
  color: white; 
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.game-poster {
  width: 300px;
  border-radius: 10px;
  margin: 15px 0 0 0;
}

.card-price-before {
  width: 300px;
  height: 20px;
  border-top: 1px solid white;
  padding: 0;
  margin: 2px 0 0 0;
  padding: 0;
  display: flex;
  column-gap: 5px;
}

.price-before {
  text-decoration: line-through;
  color:whitesmoke; 
  /* color:#505356; */
  font-weight: bold;
  margin: 2px 0 0 0;
  padding: 0;
}

.discount-card {
  width: 45px;
  color:white; 
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: #5db084;
  padding: 0 5px 0 5px;
  margin: 2px 0 0 0;
  border-radius: 3px;
  align-items: center;
  display: flex;
}

.card-price {
  margin: auto;
  width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.price {
  color:white; 
  font-weight: bold;
}


.card-price-icons-div {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.fav-icon {
  font-size: 20px;
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.fav-icon.filled {
  color: red;
}

.fav-icon.outlined {
  color: #d9dbd9;
}

.add-icon {
  font-size: 30px;
  color: #d9dbd9;
  cursor: pointer; 
}

.add-icon:hover {
  transform: scale(1.1);
}


.game-class-edition-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
}

.game-class-div {
  display: flex;
  column-gap: 5px;
}

.game-class {
  background-color: #5db084; 
  width: auto;
  height: auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
}

.game-class:hover {
  background-color: #50535661;
}

.game-card-edition-tag {
  color: #505356;
  font-weight: bold;
}


.trailer-card { 
  margin: 0;
  padding: 0;
  width: 475px;
  height: 380px;
  border-radius: 20px;
  padding: 10px;
}

.trailer-teasers-slide {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 255px;
  border-radius: 15px;
}



.trailer-teasers-slide img {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 255px;
  border-radius: 15px;
  border: 1px solid #5e5f61;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.trailer-teasers-slide img:hover {
  transform: scale(1.6);
  transition-delay: 300ms;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 50px 0 0 190px;
}

.trailer {
  position: relative;
  border-radius: 15px;
}

.slide-teasers-container {
  display: flex;
  width: 450px;
  height: 100px;
}

.teasers-slide {
  width: 450px;
  height: 100px;
  padding: 7.5px 2px 7.5px 2px ;
  display: flex;
  column-gap: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
}

.teasers-slide img {
  width: 135px;
  height: 85px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #5e5f61;
}

.arrow-icon { 
  font-size: 25px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.left-arrow-div {
  position: relative;
  width: 15px;
  height: 100px;
  margin: 0;
  padding: 40px 0 40px 0;
}

.left-arrow {
  width: 15px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.right-arrow-div {
  position: relative;
  width: 15px;
  height: 100px;
  margin: 0;
  padding: 40px 0 40px 0;
}

.right-arrow {
  width: 15px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* end game-box*/


/* similares box*/

.similares {
  padding: 10px;
  margin: 20px auto 0 auto;
  width: 870px;
  height: 150px;
  border-radius: 10px;
  
}

.similares h3 {
  color: white;
  font-size: 16px;
  margin: 0 0 5px 0;
  padding: 0;
}

.similares-slide {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.similares img {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.similares img:hover {
  transform: scale(1.1);
}


/* end similares box*/

/* game edition box*/
.game-edition-container {
  width: 870px;
  height: 200px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.game-edition-box {
  margin: 0;
  padding: 5px;
  width: 400px;
  height: 150px;
  border-left: 1px solid #c7c8c9; 
}

.game-edition-box h3 {
  color: white;
}

.i-edition-tag {
  color: #5e5f61;
}

.game-edition-price-div{
  width: 200px;
  height: 30px;
  margin: 25px 0 0 0;
  padding: 0 0 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-edition-price {
  color: white;
}

.game-edition-price-div-icons {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
/* end game edition box*/


/* reviews container */
.review-container {
  width: 870px;
  height: 200px;
  background-color: #2b2d31;
  box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px auto 50px auto;
  padding: 20px 10px 10px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.review-con-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

h4 {
  color: white;
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 14px;
}

.add-review {
  background-color: #4cbc85;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.add-review:hover {
  background-color: #5db084;
}

.editions-reviews-slide {
  width: 845px;
  height: 120px;
  display: flex;
  column-gap: 15px; 
  margin: 0 auto 0 auto;
  padding: 0;
}

.review-box {
  width: 200px;
  height: 120px;
  background-color: #212429; 
  /* background-color: rgb(32, 25, 76, 0.7);*/
  border: 1px solid #5e5f61; 
  border-radius: 5px;
  margin: 0;
  padding: 8px 10px 15px 10px;
}

.stars-div {
  display: flex;
  padding: 0;
  margin: 0;
}

.star-icon {
  font-size: 18px;
  color: #4cbc85;
  cursor: pointer;
}

.review-title {
  padding: 0 0 0 3px;
  margin: 0 0 0 0;
  color: white;
}

.review-user {
  width: 178px;
  height: 35px;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  column-gap: 5px;
}

.review-user-icon {
  color: #c7c8c9;
  font-size: 40px;
}

.review-user-data {
  padding: 0;
  margin: 0;
  width: auto;
  height: 35px;
  align-items: center;
  display: grid;
}

.review-nome {
  color: white;
  font-size: 12px;
  font-style: normal;
}

.review-data {
  color: white;
  font-size: 10px;
  font-style: normal;
}

/* end reviews */

/* still working on it 
.edition-box {
  margin: 10px;
  width: 370px;
  height: 100px;
  border-radius: 5px;
  background-color: #2b2d31;
  border: 1px solid #5e5f61;
}
*/

/* footer */
footer {
  margin-top: auto;
  width: 100%;
  bottom: 0;
  position: relative;
}

.footer {
  background-color: #1d1f22;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60px;
  
}

.div-footer {
  width: 600px;
  height: 60px;
  align-self: center;
  text-align: center;
  align-content: center;
}

.fot-icon {
  color: #d9dbd9;
  padding: 5px;
  font-size: 20px;
}

.fot-icon:hover {
  transform: scale(1.5);
}
/* end footer */


